<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>Narrow Jumbotron Template for Bootstrap</title>

        <!-- Bootstrap core CSS -->
        <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="narrow-jumbotron.css" rel="stylesheet">
    </head>

    <body>

        <div class="container">
            <div class="header clearfix">
                <nav>
                    <ul class="nav nav-pills pull-xs-right"></ul>
                </nav>
                <h3 class="text-muted"></h3>
            </div>

            <div class="jumbotron">
                <h1 class="display-3">Hi, I'm Matt Bettinson.</h1>
                <p1 class="lead">I'm an developer who likes to make things for both the back and front of the web, as well as iOS and Mac apps. My app <a href="https://itunes.apple.com/ca/app/pictext-picture-to-text-convertor/id1136965039?mt=8">PicText</a> is on the App Store. Right now, I'm at
                    <mark>Queen's University</mark>
                    for computer science, in Kingston, Ontario. You can find me on
                    <a href="https://twitter.com/mattbettinson">Twitter</a>,
                    <a href="https://github.com/bettinson">Github</a>, and
                    <a href="https://medium.com/@mattbettinson">Medium</a>.</p1>
                <p>
                    <a class="btn btn-success btn-lg" href="mailto:hello@mattbettinson.com?Subject=Hello" role="button">Get in touch</a>
                </p>

            </div>
            <div class="text-center">
                <div class="display-3">
                    <h2>Projects</h2>
                </div>
                <br>
            </div>


            <ul class="apps">
                <li>
                    <a href="https://github.com/bettinson/Rundude/" rel="external nofollow" title="Rundude">
                        <img src="/assets/rundude.png" alt="Rundude">
                        <span>Rundude</span>
                    </a>
                </li>

                <li>
                    <a href="https://itunes.apple.com/ca/app/pictext-picture-to-text-convertor/id1136965039?mt=8" rel="external nofollow" title="PicText">
                        <img src="/assets/pictext.png" alt="PicText">
                        <span>PicText</span>
                    </a>
                </li>

                <li>
                    <a href="https://github.com/bettinson/todo.app" rel="external nofollow" title="Todo">
                        <img src="/assets/todo.png" alt="Todo">
                        <span>Todo</span>
                    </a>
                </li>

                <li>
                    <a href="https://github.com/bettinson/Pull-Cam" rel="external nofollow" title="Pullcam">
                        <img src="/assets/pullcam.png" alt="Pullcam">
                        <span>Pullcam</span>
                    </a>
                </li>

            </ul>


        </div>
        <div class="text-center">
            <footer class="center-footer">
                <p>&copy; Matt Bettinson 2016</p>
            </footer>
        </div>
        <!-- /container -->

        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


    </body>
</html>
